In [1]:
import pandas as pd
import timeit
import pickle

In [38]:
# reading dataste
data = pd.read_csv('data.CSV')

# What are the chances of Survival within 14 days if the any  deficits have occured? 

Checking conditional probability

In [39]:
# preprocessing the dataset
# selecting required fields
data.dropna() # dropping fields with NA values or Empty Values
data.head()

,HOSPNUM,RDELAY,RCONSC,SEX,AGE,RSLEEP,RATRIAL,RCT,RVISINF,RHEP24,...,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
0,1,17,D,M,69,Y,NaN,Y,Y,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1,10,F,M,76,Y,NaN,Y,N,NaN,...,0,0,0,0,0,0,0,0,0,0
2,1,43,F,F,71,N,NaN,Y,N,NaN,...,0,0,0,0,0,0,0,0,0,0
3,1,6,F,M,81,N,NaN,N,N,NaN,...,0,0,0,0,0,0,0,0,0,0
4,4,20,F,M,78,N,NaN,N,N,NaN,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# find the conditional probability of DALIVE Given that RDEF1 == 'Y'
print "CONDIFTIONAL PROBABILITY OF DALIVE if RDEF1 Occured"
print data.groupby('DALIVE')['RDEF1'].value_counts() / data.groupby('DALIVE')['RDEF1'].count()
print "CONDIFTIONAL PROBABILITY OF DALIVE if RDEF2 Occured"
print data.groupby('DALIVE')['RDEF2'].value_counts() / data.groupby('DALIVE')['RDEF2'].count()
print "CONDIFTIONAL PROBABILITY OF DALIVE if RDEF3 Occured"
print data.groupby('DALIVE')['RDEF3'].value_counts() / data.groupby('DALIVE')['RDEF3'].count()
print "CONDIFTIONAL PROBABILITY OF DALIVE if RDEF4 Occured"
print data.groupby('DALIVE')['RDEF4'].value_counts() / data.groupby('DALIVE')['RDEF4'].count()
print "CONDIFTIONAL PROBABILITY OF DALIVE if RDEF5 Occured"
print data.groupby('DALIVE')['RDEF5'].value_counts() / data.groupby('DALIVE')['RDEF5'].count()
print "CONDIFTIONAL PROBABILITY OF DALIVE if RDEF6 Occured"
print data.groupby('DALIVE')['RDEF6'].value_counts() / data.groupby('DALIVE')['RDEF6'].count()
print "CONDIFTIONAL PROBABILITY OF DALIVE if RDEF7 Occured"
print data.groupby('DALIVE')['RDEF7'].value_counts() / data.groupby('DALIVE')['RDEF7'].count()
print "CONDIFTIONAL PROBABILITY OF DALIVE if RDEF8 Occured"
print data.groupby('DALIVE')['RDEF8'].value_counts() / data.groupby('DALIVE')['RDEF8'].count()

CONDIFTIONAL PROBABILITY OF DALIVE if RDEF1 Occured
DALIVE  RDEF1
N       Y        0.780458
        N        0.200705
        C        0.018837
Y       Y        0.677097
        N        0.315637
        C        0.007266
Name: RDEF1, dtype: float64
CONDIFTIONAL PROBABILITY OF DALIVE if RDEF2 Occured
DALIVE  RDEF2
N       Y        0.905706
        N        0.086142
        C        0.008152
Y       Y        0.812924
        N        0.182329
        C        0.004747
Name: RDEF2, dtype: float64
CONDIFTIONAL PROBABILITY OF DALIVE if RDEF3 Occured
DALIVE  RDEF3
N       Y        0.830690
        N        0.153007
        C        0.016303
Y       Y        0.688529
        N        0.301104
        C        0.010366
Name: RDEF3, dtype: float64
CONDIFTIONAL PROBABILITY OF DALIVE if RDEF4 Occured
DALIVE  RDEF4
N       Y        0.490196
        N        0.461115
        C        0.048689
Y       N        0.594943
        Y        0.391494
        C        0.013563
Name: RDEF4, dtype: float64
CONDIFTIONAL PROBABILITY OF DALIVE if RDEF5 Occured
DALIVE  RDEF5
N       N        0.512778
        C        0.284424
        Y        0.202798
Y       N        0.748111
        C        0.130789
        Y        0.121101
Name: RDEF5, dtype: float64
CONDIFTIONAL PROBABILITY OF DALIVE if RDEF6 Occured
DALIVE  RDEF6
N       N        0.536131
        C        0.247852
        Y        0.216017
Y       N        0.767487
        Y        0.117322
        C        0.115191
Name: RDEF6, dtype: float64
CONDIFTIONAL PROBABILITY OF DALIVE if RDEF7 Occured
DALIVE  RDEF7
N       N        0.782000
        C        0.118859
        Y        0.099141
Y       N        0.831234
        Y        0.119550
        C        0.049215
Name: RDEF7, dtype: float64
CONDIFTIONAL PROBABILITY OF DALIVE if RDEF8 Occured
DALIVE  RDEF8
N       N        0.844900
        C        0.091099
        Y        0.064001
Y       N        0.897985
        Y        0.061616
        C        0.040399
Name: RDEF8, dtype: float64

In [27]:
# CHECKING CONDITIONAL PROBABILITY OF DEAD AFTER 6 MONTHS - FDEAD

print "CONDIFTIONAL PROBABILITY OF FDEAD if RDEF1 Occured"
print data.groupby('FDEAD')['RDEF1'].value_counts() / data.groupby('FDEAD')['RDEF1'].count()

print "CONDIFTIONAL PROBABILITY OF FDEAD if RDEF2 Occured"
print data.groupby('FDEAD')['RDEF2'].value_counts() / data.groupby('FDEAD')['RDEF2'].count()

print "CONDIFTIONAL PROBABILITY OF FDEAD if RDEF3 Occured"
print data.groupby('FDEAD')['RDEF3'].value_counts() / data.groupby('FDEAD')['RDEF3'].count()

print "CONDIFTIONAL PROBABILITY OF FDEAD if RDEF4 Occured"
print data.groupby('FDEAD')['RDEF4'].value_counts() / data.groupby('FDEAD')['RDEF4'].count()

print "CONDIFTIONAL PROBABILITY OF FDEAD if RDEF5 Occured"
print data.groupby('FDEAD')['RDEF5'].value_counts() / data.groupby('FDEAD')['RDEF5'].count()

print "CONDIFTIONAL PROBABILITY OF FDEAD if RDEF6 Occured"
print data.groupby('FDEAD')['RDEF6'].value_counts() / data.groupby('FDEAD')['RDEF6'].count()

print "CONDIFTIONAL PROBABILITY OF FDEAD if RDEF1 Occured"
print data.groupby('FDEAD')['RDEF7'].value_counts() / data.groupby('FDEAD')['RDEF7'].count()

print "CONDIFTIONAL PROBABILITY OF FDEAD if RDEF1 Occured"
print data.groupby('FDEAD')['RDEF8'].value_counts() / data.groupby('FDEAD')['RDEF8'].count()

CONDIFTIONAL PROBABILITY OF FDEAD if RDEF1 Occured
FDEAD  RDEF1
N      Y        0.699182
       N        0.292433
       C        0.008386
U      Y        0.709091
       N        0.254545
       C        0.036364
Y      Y        0.814332
       N        0.158196
       C        0.027473
Name: RDEF1, dtype: float64
CONDIFTIONAL PROBABILITY OF FDEAD if RDEF2 Occured
FDEAD  RDEF2
N      Y        0.837851
       N        0.157185
       C        0.004964
U      Y        0.909091
       N        0.090909
Y      Y        0.918269
       N        0.070513
       C        0.011218
Name: RDEF2, dtype: float64
CONDIFTIONAL PROBABILITY OF FDEAD if RDEF3 Occured
FDEAD  RDEF3
N      Y        0.726352
       N        0.262914
       C        0.010734
U      Y        0.836364
       N        0.163636
Y      Y        0.852106
       N        0.126145
       C        0.021749
Name: RDEF3, dtype: float64
CONDIFTIONAL PROBABILITY OF FDEAD if RDEF4 Occured
FDEAD  RDEF4
N      N        0.580102
       Y        0.405005
       C        0.014893
U      N        0.545455
       Y        0.436364
       C        0.018182
Y      Y        0.551969
       N        0.366071
       C        0.081960
Name: RDEF4, dtype: float64
CONDIFTIONAL PROBABILITY OF FDEAD if RDEF5 Occured
FDEAD  RDEF5
N      N        0.714880
       C        0.145445
       Y        0.139675
U      N        0.636364
       Y        0.218182
       C        0.145455
Y      C        0.400870
       N        0.373626
       Y        0.225504
Name: RDEF5, dtype: float64
CONDIFTIONAL PROBABILITY OF FDEAD if RDEF6 Occured
FDEAD  RDEF6
N      N        0.733128
       Y        0.139340
       C        0.127533
U      N        0.690909
       Y        0.163636
       C        0.145455
Y      N        0.404991
       C        0.348672
       Y        0.246337
Name: RDEF6, dtype: float64
CONDIFTIONAL PROBABILITY OF FDEAD if RDEF1 Occured
FDEAD  RDEF7
N      N        0.828056
       Y        0.115658
       C        0.056286
U      N        0.890909
       C        0.072727
       Y        0.036364
Y      N        0.737637
       C        0.169414
       Y        0.092949
Name: RDEF7, dtype: float64
CONDIFTIONAL PROBABILITY OF FDEAD if RDEF1 Occured
FDEAD  RDEF8
N      N        0.894539
       Y        0.060043
       C        0.045418
U      N        0.927273
       Y        0.054545
       C        0.018182
Y      N        0.797390
       C        0.129808
       Y        0.072802
Name: RDEF8, dtype: float64

# Probability of Full Recovery given deficits

In [34]:
# CHECKING CONDITIONAL PROBABILITY OF DEAD AFTER 6 MONTHS - FRECOVER

print "CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF1 Occured"
print data.groupby('FRECOVER')['RDEF1'].value_counts() / data.groupby('FRECOVER')['RDEF1'].count()

print "CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF2 Occured"
print data.groupby('FRECOVER')['RDEF2'].value_counts() / data.groupby('FRECOVER')['RDEF2'].count()

print "CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF3 Occured"
print data.groupby('FRECOVER')['RDEF3'].value_counts() / data.groupby('FRECOVER')['RDEF3'].count()

print "CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF4 Occured"
print data.groupby('FRECOVER')['RDEF4'].value_counts() / data.groupby('FRECOVER')['RDEF4'].count()

print "CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF5 Occured"
print data.groupby('FRECOVER')['RDEF5'].value_counts() / data.groupby('FRECOVER')['RDEF5'].count()

print "CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF6 Occured"
print data.groupby('FRECOVER')['RDEF6'].value_counts() / data.groupby('FRECOVER')['RDEF6'].count()

print "CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF1 Occured"
print data.groupby('FRECOVER')['RDEF7'].value_counts() / data.groupby('FRECOVER')['RDEF7'].count()

print "CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF1 Occured"
print data.groupby('FRECOVER')['RDEF8'].value_counts() / data.groupby('FRECOVER')['RDEF8'].count()

CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF1 Occured
FRECOVER  RDEF1
N         Y        0.727584
          N        0.262674
          C        0.009742
U         Y        0.570048
          N        0.405797
          C        0.024155
Y         Y        0.618138
          N        0.378364
          C        0.003498
Name: RDEF1, dtype: float64
CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF2 Occured
FRECOVER  RDEF2
N         Y        0.870467
          N        0.124752
          C        0.004781
U         Y        0.743961
          N        0.241546
          C        0.014493
Y         Y        0.743272
          N        0.251884
          C        0.004844
Name: RDEF2, dtype: float64
CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF3 Occured
FRECOVER  RDEF3
N         Y        0.773498
          N        0.214866
          C        0.011636
U         Y        0.618357
          N        0.357488
          C        0.024155
Y         Y        0.591496
          N        0.401238
          C        0.007266
Name: RDEF3, dtype: float64
CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF4 Occured
FRECOVER  RDEF4
N         N        0.555566
          Y        0.426845
          C        0.017590
U         N        0.637681
          Y        0.342995
          C        0.019324
Y         N        0.649354
          Y        0.343918
          C        0.006728
Name: RDEF4, dtype: float64
CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF5 Occured
FRECOVER  RDEF5
N         N        0.673282
          C        0.166607
          Y        0.160112
U         N        0.714976
          C        0.173913
          Y        0.111111
Y         N        0.838805
          C        0.081270
          Y        0.079925
Name: RDEF5, dtype: float64
CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF6 Occured
FRECOVER  RDEF6
N         N        0.695021
          Y        0.155511
          C        0.149468
U         N        0.681159
          C        0.173913
          Y        0.144928
Y         N        0.848224
          Y        0.090151
          C        0.061625
Name: RDEF6, dtype: float64
CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF1 Occured
FRECOVER  RDEF7
N         N        0.832221
          Y        0.102562
          C        0.065217
U         N        0.724638
          Y        0.159420
          C        0.115942
Y         N        0.820237
          Y        0.150969
          C        0.028794
Name: RDEF7, dtype: float64
CONDIFTIONAL PROBABILITY OF FRECOVER if RDEF1 Occured
FRECOVER  RDEF8
N         N        0.887335
          Y        0.060166
          C        0.052499
U         N        0.816425
          Y        0.111111
          C        0.072464
Y         N        0.918730
          Y        0.057051
          C        0.024220
Name: RDEF8, dtype: float64

In [40]:
data.head()

,HOSPNUM,RDELAY,RCONSC,SEX,AGE,RSLEEP,RATRIAL,RCT,RVISINF,RHEP24,...,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
0,1,17,D,M,69,Y,NaN,Y,Y,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1,10,F,M,76,Y,NaN,Y,N,NaN,...,0,0,0,0,0,0,0,0,0,0
2,1,43,F,F,71,N,NaN,Y,N,NaN,...,0,0,0,0,0,0,0,0,0,0
3,1,6,F,M,81,N,NaN,N,N,NaN,...,0,0,0,0,0,0,0,0,0,0
4,4,20,F,M,78,N,NaN,N,N,NaN,...,0,0,0,0,0,0,0,0,0,0

In [43]:
data.groupby('DALIVE')['RCONSC'].value_counts() / data.groupby('DALIVE')['RCONSC'].count()

DALIVE  RCONSC
N       F         0.659396
        D         0.316479
        U         0.024124
U       F         0.857143
        D         0.142857
Y       F         0.863399
        D         0.132823
        U         0.003778
Name: RCONSC, dtype: float64